#root{
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
